@use './variables';
@use './mixins';

.cart-modal{
    display: none;
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    left: 6px;
    background-color: variables.$White;
    &__title{
        font-weight: 700;
        padding: 24px;
        margin: 0;
        border-bottom: 1px solid variables.$Grayish-blue;
    }
    &__checkout-container{
        padding: 1.5em;
    }
    &__details-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5em;
        color: variables.$Dark-grayish-blue;
    }
    &__image{
        width: 50px;
        border-radius: 4px;
    }
    &__product, &__price{
        margin-top: 0;
        margin-bottom: 0;
    }
    &__price span{
        color: variables.$Black;
        font-weight: 700;
    }
    &__delete:hover{
        cursor: pointer;
    }
    &__checkout{
        @include mixins.button;
    }
}