@use './initial'; //importar archivos
@use './variables';
@use './header';
@use './navbar';
@use './gallery';
@use './details';
@use './input';
@use './modal-navbar';
@use './modal-cart';

.main-container {
    width: 375px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media (width >= 1115px) {
        width: 1115px;
    }
}
.content{
    @media (width >= 1115px){
        display: flex;
        padding: 5.625em 3.125em;
        gap: 7.75em;
    }
}